

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <div id="image" class="container">
                <img src="http://clipart-library.com/img1/1241290.png" height="100" width="100" class="rounded" alt="Burger">
            </div>
        </div>
        <div class="col-12">
            <h1 class="text-center text-danger">Eat Da Burger!</h1>
        </div>
        <div class="col-12">
            <h2 class="text-center text-danger">Devour burgers with this app</h2>
        </div>
    </div>
</div>

<div class="container">
    <section class="row">
        <div class="col-md-7 col-left">
            <h3>Burgers that are available</h3>
            <table>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block}}
                    {{/unless}}
                {{/each}}
            </table>
        </div>
        <div class="col-md-5 col-right">
            <h3>Burgers that have been devoured</h3>
            {{#each burgers}}
                {{#if devoured}}
                    <div>{{id}}. {{burger_name}}</div>
                {{/if}}
            {{/each}}        
        </div>          
    </section>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12 form">
            <h3>Add a new burger!</h3>
            <form class="create-form">
                <div class="form-group">
                    <label for="name"></label>
                    <textarea id="name" name="burger-name" rows="2" cols="40" placeholder="What do you want to eat?"></textarea>
                </div>
                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>